body{
    padding: 0;
    margin: 0;
}

.box{
    position: absolute;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(img/bg/bg.png)no-repeat;
}

.star{display: none;}

.star1,.star2{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(img/qixi/bg/star1.png)no-repeat;
    animation: qixistar1 1s alternate infinite linear;
}

.star2{
    background-image: url(img/qixi/bg/star2.png);
    animation: qixistar2 1s alternate infinite linear;
}

.skylight{
    position: absolute;
    width: 188px;
    height: 220px;
    background-image: url(img/qixi/bg/skylight.png);
    top: 100%;
    pointer-events: none;
    display: none;
}

.skylight1{
    left: 10%;
    animation: skylight 12s linear 10s infinite;
}

.skylight2{
    left: 30%;
    transform: scale(0.8);
    animation: skylight 20s linear 5s infinite;
}

.skylight3{
    left: 80%;
    transform: scale(0.7);
    animation: skylight 10s linear 3s infinite;
}

.skylight4{
    left: 50%;
    transform: scale(0.4);
    animation: skylight 15s linear 8s infinite;
}

.skylight5{
    left: 60%;
    animation: skylight 7s linear 0s infinite;
}

.skylight6{
    left: 5%;
    transform: scale(0.35) ;
    animation: skylight 12s linear 2s infinite;
}

.skylight7{
    left: 25%;
    transform: scale(0.4) ;
    animation: skylight 20s linear 5s infinite;
}

.skylight8{
    left: 90%;
    transform: scale(0.2) ;
    animation: skylight 12s linear 1s infinite;
}

.skylight9{
    left: 55%;
    transform: scale(0.25) ;
    animation: skylight 15s linear 7s infinite;
}

.skylight10{
    left: 42%;
    transform: scale(0.3) ;
    animation: skylight 9s linear 0s infinite;
}

.qixi-bg2{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(img/qixi/bg/bg2.png)no-repeat;
    display: none;
}

.bg2{
    animation: bg-animate 1s 1 alternate ease-in-out;
}

.ringL1,.ringL2,.ringL3,.ringL4,.ringR1,.ringR2,.ringR3,.ringR4{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: ring 2s alternate infinite ease-in-out;
}
.ringL1{
    background: url(img/bg/L1.png)no-repeat;
    transform-origin: 457px 341px;
}
.ringL2{
    background: url(img/bg/L2.png)no-repeat;
    transform-origin: 615px 273px;
}
.ringL3{
    background: url(img/bg/L3.png)no-repeat;
    transform-origin: 766px 361px;
}
.ringL4{
    background: url(img/bg/L4.png)no-repeat;
    transform-origin: 904px 357px;
}
.ringR1{
    background: url(img/bg/R1.png)no-repeat;
    transform-origin: 1469px 339px;
}
.ringR2{
    background: url(img/bg/R2.png)no-repeat;
    transform-origin: 1320px 265px;
}
.ringR3{
    background: url(img/bg/R3.png)no-repeat;
    transform-origin: 1212px 347px;
}
.ringR4{
    background: url(img/bg/R4.png)no-repeat;
    transform-origin: 1054px 360px;
}

.cloudL{
    position: absolute;
    left: -100px;
    width: 922px;
    height: 509px;
    background: url(img/bg/cloudL.png)no-repeat;
    animation: cloud-animate-L 10s alternate infinite linear;
}

.cloudR{
    position: absolute;
    right: 0;
    width: 827px;
    height: 629px;
    background: url(img/bg/cloudR.png)no-repeat;
    animation: cloud-animate-R 10s alternate-reverse infinite linear;
}

.cloudBig{
    position: absolute;
    left: 0;
    width: 2200px;
    height: 1080px;
    background: url(img/bg/bigcloud.png)no-repeat;
    opacity: 0.5;
    animation: cloud-animate-big 20s alternate-reverse infinite linear;
    pointer-events: none;
}

#video,#video2{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.button{
    position: absolute;
    top: 450px;
    left: 823px;
    width: 274px;
    height: 288px;
    background: url(img/bg/botton.png)no-repeat;
    background-position: 50%;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(0.7);
}

.button:hover{
    background: url(img/bg/botton-hover.png)no-repeat;
    background-position: 50%;
    filter: drop-shadow(0 0 20px #ffee8e);
}

.qixibtn{
    position: absolute;
    width: 90px;
    height: 125px;
    left: 50%;
    top: 185px;
    translate: -47%;
    cursor: pointer;
    z-index: 999;
}

.white{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    display: none;
}

.black{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.re{
    position: absolute;
    top: -700px;
    left: 710px;
    width: 500px;
    height: 700px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

@keyframes cloud-animate-L{
    0%{
        left: -100px;
    }
    100%{
        left: 0px;
    }
}

@keyframes cloud-animate-R{
    0%{
        right: 0px;
    }
    100%{
        right: -100px;
    }
}

@keyframes cloud-animate-big{
    0%{
        left: 0px;
    }
    100%{
        left: -280px;
    }
}

@keyframes ring{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(30deg);
    }
}

@keyframes bg-animate{
    0%{
        transform: perspective(250px)translateZ(0px);
    }
    100%{
        transform: perspective(250px)translateZ(150px);
    }
}

@keyframes qixistar1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes qixistar2{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes skylight{
    0%{
        top: 100%;
        rotate: 0deg;
    }
    20%{
        rotate: 7deg;
    }
    40%{
        rotate: -10deg;
    }
    60%{
        rotate: 5deg;
    }
    80%{
        rotate: -7deg;
    }
    100%{
        top: -16%;
        rotate: 0deg;
    }
}